@model ArticlesViewModel
@{
	ViewData["Title"] = "Scarpe & Co";
}

<div style="min-height: 80vh">
	<h1>I Nostri Prodotti</h1>
	<a asp-controller="Home" asp-action="Add" class="btn border-1 border-dark">Aggiungi Prodotto</a>

	<div class="row mt-2">
		@if (Model.articles.Count <= 0){
			<span>Non è presente alcun articolo!</span>
		}
		@foreach (var article in Model.articles!)
		{
			<div class="card p-0" style="width: 18rem;">
				<img src="@article.Thumbnail" class="card-img-top" alt="thumbnailImg">
				<div class="card-body">
					<h5 class="card-title">@article.Name</h5>
					<p class="card-text">@article.Description</p>
					<a asp-controller="Home" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Dettagli</a>
					<a asp-controller="Home" asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Modifica</a>
				</div>
			</div>
		}
	</div>
</div>
